<div class="outer-container">
  <div class="display-area padding">
    <div class="input-container">
      <div class="mat-h3 title">
        Código
      </div>
      <textarea matInput class="input-area flex padding" [formControl]="inputCodeControl"></textarea>
    </div>

    <div class="lists-container">
      <div class="linhas-codigo-container">
        <div class="mat-h3 title">
          Linhas
        </div>
        <app-lista-codigo-linhas class="flex"></app-lista-codigo-linhas>
      </div>
      <div class="operacoes-container">
        <div class="mat-h3 title">
          Operações
        </div>
        <app-lista-operacoes class="flex"></app-lista-operacoes>
      </div>
    </div>

    <div class="registradores-container flex">
      <div class="mat-h3 title">
        Registradores
      </div>
      <app-matriz-registradores class="flex"></app-matriz-registradores>
    </div>
  </div>

  <div class="action-bar">
    <mat-form-field>
      <mat-label>Valores iniciais</mat-label>
      <input matInput placeholder="Ex.: 0 1 2" [readonly]="getVarExecuting() || getVarExecutionComplete()" [formControl]="inputInitialValuesControl">
    </mat-form-field>
    <button mat-flat-button [disabled]="!getVarInitialValueValid() || !getVarInputCodeValid() || getVarExecuting() || getVarExecutionComplete()" (click)="run()">Iniciar</button>
    <button mat-flat-button [disabled]="!getVarExecuting()" (click)="stop()">Parar</button>
    <button mat-flat-button [disabled]="!getVarExecutionComplete()" (click)="reset()">Resetar</button>
  </div>
</div>
