/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.flex {
  flex: 1;
  overflow: auto;
}

.fill {
  height: 100% !important;
  width: 100% !important;
}

.padding {
  padding: 1rem !important;
  box-sizing: border-box !important;
}

.border {
  border: 1px black solid;
  border-radius: 10px;
  box-sizing: border-box;
  overflow: hidden !important;
}

.title {
  text-decoration: underline;
  font-weight: bold;
  font-size: x-large;
  align-self: center;
}
